.Profile-edit-section-mainParent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Profile-edit-section-container {
  background-color: #cecdcd;
  width: 30vw;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Profile-edit-section-whole-profile-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: end;
  padding: 10px;
  border-radius: 5px;
}

.Profile-edit-section-whole-profile-section .Profile-edit-section-back-logo-section {
  width: 100%;
  display: flex;
  padding: 8px 5px;
}

.Profile-edit-section-backLogo {
  font-size: 35px;
}

.Profile-edit-section-profile-header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  gap: 50px;
  align-items: center;
  padding: 5px;
  font-size: 20px;
}

.Profile-edit-section-top-nav-section {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.Profile-edit-section-top-nav-section .Profile-edit-section-backLogo,
.Profile-edit-section-top-nav-section .Profile-edit-section-settingsLogo {
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.Profile-edit-section-top-nav-section .Profile-edit-section-settingsLogo {
  height: 30px;
  width: 30px;
}

.Profile-edit-section-search {
  position: relative;
  display: flex;
  align-items: center;
  width: 92%;
}

.Profile-edit-section-search input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border: none;
  outline: none;
  box-shadow: inset 2px 2px 3px rgb(223, 223, 223),
    inset -2px -2px 3px rgb(245, 245, 245);
  border-radius: 50px;
  background-color: #fdf9f9;
  font-size: 16px;
}

.Profile-edit-section-search-icon {
  position: absolute;
  right: 15px;
  color: gray;
  font-size: 20px;
  cursor: pointer;
}

.Profile-edit-section-parent-collabs-connection {
  display: flex;
  justify-content: space-around;
  width: 70%;
  position: relative;
}

.Profile-edit-section-parent-collabs-connection .Profile-edit-section-connectionsDetails,
.Profile-edit-section-parent-collabs-connection .Profile-edit-section-collabsDetails {
  display: flex;
  flex-direction: column-reverse;
}

.Profile-edit-section-connectionsDetails,
.Profile-edit-section-collabsDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Profile-edit-section-collabsDetails h4,
.Profile-edit-section-connectionsDetails h4 {
  font-size: 20px;
  font-weight: 100;
}

.Profile-edit-section-collabsDetails span,
.Profile-edit-section-connectionsDetails span {
  font-size: 25px;
  font-weight: 900;
}

.Profile-edit-section-profile-info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.Profile-edit-section-profile-info h2 {
  font-size: 17px;
}

.Profile-edit-section-imageContainer {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.Profile-edit-section-profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.Profile-edit-section-profile-buttons {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: end;
  padding: 2px 8px;
}

.Profile-edit-section-btn {
  background: linear-gradient(to bottom, #ffe9ed, white);
  color: black;
  border: 1px solid black;
  padding: 8px 12px;
  width: 140px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}

.Profile-edit-section-about-headingAndEdit {
  display: flex;
  justify-content: space-between;
}

.Profile-edit-section-about-headingAndEdit h3 {
  font-size: 20px;
}

.Profile-edit-section-aboutAndgoal-section {
  padding: 5px 7px;
  height: 110px;
  background-color: #fff;
  border-radius: 5px;
}

.Profile-edit-section-aboutAndgoal-button {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(144, 143, 143);
}

.Profile-edit-section-main-analytics-parent {
  background-color: #fff;
  border-radius: 5px;
  padding: 7px;
}

.Profile-edit-section-anlaytic-main-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Profile-edit-section-anlaytic-main-section h3 {
  font-size: 20px;
}

.Profile-edit-section-analytics-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.Profile-edit-section-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid skyblue;
  border-bottom-color: transparent;
}

.Profile-edit-section-slider-box {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  max-width: 600px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Profile-edit-section-down-slider-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Profile-edit-section-slide-track {
  display: flex;
  width: 100%;
  gap: 20px;
  overflow: hidden;
  justify-content: center;
}

.Profile-edit-section-slide-img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.Profile-edit-section-each-slide p {
  font-size: 12px;
}

.Profile-edit-section-left-btn,
.Profile-edit-section-right-btn {
  font-size: 20px;
  cursor: pointer;
}

.Profile-edit-section-experince-inner-div {
  height: 114px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid black;
}

.Profile-edit-section-experince-inner-div h3 {
  font-size: 12px;
}

.Profile-edit-section-experince-inner-div h5 {
  font-size: 10px;
  color: rgb(144, 143, 143);
}

.Profile-edit-section-experince-inner-div p {
  font-size: 9px;
  text-align: center;
}

.Profile-edit-section-main-wrapper-section {
  background-color: #fff;
  border-radius: 10px;
  padding: 2px;
}

.Profile-edit-section-suggested-tags {
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
  gap: 10px;
  justify-content: center;
}

.Profile-edit-section-heading-and-logos {
  display: flex;
  justify-content: space-between;
  padding: 2px 5px;
  align-items: center;
}

.Profile-edit-section-heading-and-logos h3 {
  font-size: 25px;
}

.Profile-edit-section-content-and-arrow .Profile-edit-section-left-btn,
.Profile-edit-section-content-and-arrow .Profile-edit-section-right-btn {
  font-size: 40px;
}

.Profile-edit-section-logos {
  display: flex;
  gap: 15px;
  padding: 15px;
}

.Profile-edit-section-logos img {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.Profile-edit-section-tag {
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  width: 80px;
  height: 25px;
}

.Profile-edit-section-main-collabs-section {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: column;
}

.Profile-edit-section-main-collabs-section h3 {
  text-align: start;
}

.Profile-edit-section-collabratorCard {
  display: flex;
  gap: 4px;
  align-items: center;
}

.Profile-edit-section-collab-image {
  height: 50px;
  width: 50px;
}

.Profile-edit-section-collab-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.Profile-edit-section-collabratorDetails {
  flex-direction: column;
  display: flex;
  width: 100px;
}

.Profile-edit-section-collabratorDetails h4 {
  font-size: 15px;
  font-weight: 500;
  text-align: start;
}

.Profile-edit-section-collabratorDetails .Profile-edit-section-education {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.Profile-edit-section-collabratorDetails .Profile-edit-section-education h6 {
  font-weight: 300;
  color: #726d6dea;
}

.Profile-edit-section-collabratorDetails .Profile-edit-section-subCollabrators {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #514f4fea;
}

.Profile-edit-section-collabratorDetails .Profile-edit-section-subCollabrators h6 {
  font-size: 7px;
  font-weight: 100;
  color: #828282ea;
}

.Profile-edit-section-para {
  text-align: start;
  font-size: 14px;
}

.Profile-edit-section-second-div-arrowAndContent {
  display: flex;
  align-items: center;
}

.Profile-edit-section-innerDiv-onlyContent {
  height: 150px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Profile-edit-section-right {
  width: 30%;
  padding: 15px 2px;
  display: flex;
  justify-content: end;
}

.Profile-edit-section-right img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.Profile-edit-section-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.Profile-edit-section-content-and-arrow {
  display: flex;
  align-items: center;
}

.Profile-edit-section-main-education {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.Profile-edit-section-upper-education {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.Profile-edit-section-education-headingAndEdit {
  display: flex;
  justify-content: space-between;
}

.Profile-edit-section-education-headingAndEdit h3 {
  font-size: 20px;
}

.Profile-edit-section-buttons-section {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.Profile-edit-section-public-logo {
  height: 10px;
  width: 100px;
  object-fit: cover;
}

@media (max-width: 320px) {
  .Profile-edit-section-container {
    width: 100%;
    padding: 5px;
  }

  .Profile-edit-section-profile-header .Profile-edit-section-collabsDetails h4,
  .Profile-edit-section-profile-header .Profile-edit-section-connectionsDetails h4 {
    font-size: 15px;
  }

  .Profile-edit-section-profile-info {
    align-items: start;
    flex-direction: column;
  }

  .Profile-edit-section-imageContainer h5 {
    font-size: 12px;
  }

  .Profile-edit-section-parent-collabs-connection {
    justify-content: start;
    gap: 20px;
    align-items: end;
  }

  .Profile-edit-section-parent-collabs-connection .Profile-edit-section-edit-logo {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -20px;
    left: -10px;
  }

  .Profile-edit-section-profile-header {
    justify-content: space-evenly;
  }

  .Profile-edit-section-top-nav-section .Profile-edit-section-settingsLogo {
    height: 22px;
    width: 22px;
  }

  .Profile-edit-section-search input {
    height: 30px;
  }

  .Profile-edit-section-search input::placeholder {
    font-size: 15px;
  }

  .Profile-edit-section-collabsDetails,
  .Profile-edit-section-connectionsDetails {
    flex-direction: column-reverse;
  }

  .Profile-edit-section-collabsDetails span,
  .Profile-edit-section-connectionsDetails span {
    font-size: 20px;
  }

  .Profile-edit-section-whole-profile-section {
    align-items: start;
  }

  .Profile-edit-section-imageContainer {
    width: 50px;
    height: 50px;
  }

  .Profile-edit-section-profile-buttons {
    gap: 5px;
  }

  .Profile-edit-section-btn {
    font-size: 14px;
    padding: 6px 14px;
    min-width: 50%;
  }

  .Profile-edit-section-upper-education {
    height: 100px;
  }

  .Profile-edit-section-upper-education button {
    width: 10px;
    height: 20px;
    padding: 0;
    font-size: 10px;
  }

  .Profile-edit-section-buttons-section {
    height: 120px;
    gap: 0px !important;
    padding: 10px !important;
  }

  .Profile-edit-section-edit-logo,
  .Profile-edit-section-add-logo {
    height: 18px;
    width: 18px;
  }

  .Profile-edit-section-slide-img {
    width: 70px;
    height: 100px;
  }

  .Profile-edit-section-aboutAndgoal-section {
    padding: 3px 5px;
  }

  .Profile-edit-section-circle {
    width: 50px;
    height: 50px;
  }

  .Profile-edit-section-experince-inner-div {
    width: 130px !important;
  }

  .Profile-edit-section-experince-inner-div p {
    font-size: 7px;
  }

  .Profile-edit-section-tag {
    width: 50px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  .Profile-edit-section-container {
    width: 100%;
    padding: 5px;
  }
}

@media (min-width: 480px) {
  .Profile-edit-section-container {
    width: 90%;
    max-width: 450px;
  }

  .Profile-edit-section-profile-header {
    font-size: 20px;
  }

  .Profile-edit-section-imageContainer {
    height: 75px;
    width: 75px;
  }

  .Profile-edit-section-profile-buttons {
    flex-direction: row;
  }

  .Profile-edit-section-btn {
    width: 140px;
  }

  .Profile-edit-section-circle {
    width: 80px;
    height: 80px;
  }

  .Profile-edit-section-slide-img {
    width: 100px;
    height: 150px;
  }
}

@media (min-width: 740px) {
  .Profile-edit-section-container {
    width: 80%;
  }

  .Profile-edit-section-whole-profile-section {
    align-items: flex-end;
  }

  .Profile-edit-section-profile-header {
    flex-direction: row-reverse;
  }

  .Profile-edit-section-top-nav-section {
    flex-direction: row;
    gap: 20px;
  }

  .Profile-edit-section-profile-buttons {
    justify-content: flex-end;
  }
}

@media (min-width: 900px) {
  .Profile-edit-section-container {
    width: 70%;
  }
}

@media (min-width: 1062px) {
  .Profile-edit-section-container {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .Profile-edit-section-container {
    width: 50%;
  }
}

@media (min-width: 450px) {
  .Profile-edit-section-verified {
    display: none;
  }

  .Profile-edit-section-edit-logo,
  .Profile-edit-section-add-logo {
    display: none;
  }

  .Profile-edit-section-whole-profile-section .Profile-edit-section-top-nav-section {
    display: none;
  }
}